/bazel-*
*.out
*.log

.vscode/

**/.logs/**

**/.ipynb_checkpoints/**

**/__pycache__/**

**/.virtual_documents/**

**/*model*/**

**/tmp/**

**/temp/**

.DS_Store

**/.ruff_cache/**

**/.venv/**

.env
.env.*

# 二进制文件
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.svg

# 输出目录
attachments/
*_images/
